/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Media Queries */


/* Smaller than standard 960 (devices and browsers) */
   @media only screen and (max-width: 959px) {
   }


/* Tablet Portrait size to standard 960 (devices and browsers) */
   @media only screen and (min-width: 768px) and (max-width: 959px) {
   
h1 {
font-size: 140px;
}

h1 .head-first {
font-size: 90px;
}

h2 {
font-size: 90px;
}

h3 {
font-size: 40px;
}

.line {
font-size: 30px;
}

.line-2 {
font-size: 30px;
}

#countdown-wrap {
}

#countdown {
width: 300px;
height: auto;
}

ul#countdown li {
width: 50px;
}

ul#countdown li span {
font-size: 35px;
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
font-size: 18px;
}

   }


/* All Mobile Sizes (devices and browser) */
   @media only screen and (max-width: 767px) {
   }


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
   @media only screen and (min-width: 480px) and (max-width: 767px) {
   
h1 {
font-size: 90px;
}

h1 .head-first {
font-size: 90px;
}

h2 {
font-size: 90px;
}

h3 {
font-size: 40px;
}

.line {
font-size: 30px;
}

.line-2 {
font-size: 30px;
}

#countdown-wrap {
display: none;
visibility: hidden;
}

#the-panel-1 {
bottom: 0;
}

#the-panel-2 {
bottom: 0;
}

#panel-2 {
height: 280px;
overflow: auto;
}

.post-2-content {
width: 95%;
height: 170px;
}

#contact-wrapper {
width: 340px;
}

#form {
width: 340px;
}

#form div {
width: 340px;
}

#form div label {
width: 325px;
}

.success {
width: 340px;
}

.error {
right: 5px;
}

#form input, textarea {
width: 325px;
}

.subject {
width: 335px;
}

#form textarea {
width: 325px;
}

#form .submit {
margin-right: 3px;
}

.btn-1e {
display: none;
visibility: hidden;
}

.menu-animation {
display: none;
visibility: hidden;
}

.menu-mobile {
display: inherit;
visibility: visible;
margin: 0 0 -35px 10px;
z-index: 998;
}

.supersized-wrapper {
display: none;
visibility: hidden;
}

.player-wrapper {
background: none;
}

.mb_YTVPBar {
display: none;
visibility: hidden;
}

/*
.niceScroll {
display: none;
visibility: hidden;
}
*/
	
   }


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
   @media only screen and (max-width: 479px) {
   
h1 {
font-size: 90px;
}

h1 .head-first {
font-size: 90px;
}

h2 {
font-size: 90px;
}

h3 {
font-size: 40px;
}

.line {
font-size: 30px;
}

.line-2 {
font-size: 30px;
}

#countdown-wrap {
top: 150%;
}

#countdown {
width: 300px;
height: auto;
}

ul#countdown li {
width: 50px;
}

ul#countdown li span {
font-size: 35px;
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
font-size: 18px;
}

#the-panel-1 {
bottom: 0;
}

#the-panel-2 {
bottom: 0;
}

#panel-2 {
height: 280px;
overflow: auto;
}

.post-2-content {
width: 95%;
height: 170px;
}

#contact-wrapper {
width: 240px;
}

#form {
width: 240px;
}

#form div {
width: 240px;
}

#form div label {
width: 225px;
}

.success {
width: 240px;
}

.error {
right: 5px;
}

#form input, textarea {
width: 225px;
}

.subject {
width: 235px;
}

#form textarea {
width: 225px;
}

#form .submit {
margin-right: 3px;
}

.btn-1e {
display: none;
visibility: hidden;
}

.menu-animation {
display: none;
visibility: hidden;
}

.menu-mobile {
display: inherit;
visibility: visible;
margin: 0 0 -35px 10px;
z-index: 998;
}

.supersized-wrapper {
display: none;
visibility: hidden;
}

.player-wrapper {
background: none;
}

.mb_YTVPBar {
display: none;
visibility: hidden;
}

   }